<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name">
        </div>
        <input type="button" class="btn btn-default" id="searchBtn" value="Advanced Search" onclick="advancedSearch()">
    </div>

    <div class="form-group">
        <label class="col-sm-1">Gender:</label>
        <div class="col-sm-1">
            <label><input type="checkbox" id="maleChkBx"> Male</label>
        </div>
        <div class="col-sm-1">
            <label><input type="checkbox" id="femaleChkBx"> Female</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1">Direction:</label>
        <div class="radio col-sm-1">
            <label><input type="radio" id="ancestorsRdo" name="directionradio" checked>Ancestors</label>
        </div>
        <div class="radio col-sm-1">
            <label><input type="radio" id="descendentsRdo" name="directionradio">Descendents</label>
        </div>
    </div>

</form>

<div id="result_section" hidden="hidden">
    <h2>Results:</h2>
    <table class="table table-striped">
        <thead>
            <tr style="background-color: olivedrab; color:white"><th>ID</th><th>NAME</th><th>Gender</th><th>BIRTHPLACE</th></tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</div>


@section Scripts {
    <script>
        function advancedSearch() {
            $("#result_section").hide();

            var name = $("#name").val();
            var genderMale = $("#maleChkBx").is(":checked");
            var genderFemale = $("#femaleChkBx").is(":checked");
            var directionAncestors = $("#ancestorsRdo").is(":checked");
            
            $.getJSON("/api/ancestry/advancedsearch",
                { key: name, male: genderMale, female: genderFemale, directionAncestors: directionAncestors},
                function (data, status) {
                    $("#result").empty(); // clear the existing table body

                        $.each(data, function (key, val) {
                            var row = '<td>' + val.id + '</td><td>' + val.name + '</td><td>' + val.gender + '</td><td>' + val.birthplace + '</td>';
                            $('<tr/>', { html: row })  // Append the name.
                                .appendTo($('#result'));
                    });
                        

                        $("#result_section").show();
                });

        }
        
    </script>
}

